//- layout.pug
doctype html
html
  head
    title Hasan Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            li #[a(href="/") Home]
            li #[a(href="/") Events]
            li #[a(href="/") Offers]
            li #[a(href="/") About]
            li #[a(href="/") Contact]
    block content
    footer#footer 
        | Copyright 2021 MHDevelopers.com | All rights reserved.